@page "/setup/tech/{GameId}"
@inject Transdim.Utilities.SetupNavigationUtility SetupNavigationUtility
@inject Transdim.Service.IGameStateService GameStateService

<div class="tech-setup">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="tech-background terraforming-tech-background">
                <img class="tech-tile" src="/Images/tech-7-vp.png" asp-append-version="true" />
                <img class="tech-tile advanced-tech-tile" src="/Images/tech-7-vp.png" asp-append-version="true" />
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="tech-background navigation-tech-background">
                <img class="tech-tile" src="/Images/tech-7-vp.png" asp-append-version="true" />
                <img class="tech-tile advanced-tech-tile" src="/Images/tech-7-vp.png" asp-append-version="true" />
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="tech-background artificial-intelligence-tech-background">
                <img class="tech-tile" src="/Images/tech-7-vp.png" asp-append-version="true" />
                <img class="tech-tile advanced-tech-tile" src="/Images/tech-7-vp.png" asp-append-version="true" />
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="tech-background gaiaforming-tech-background">
                <img class="tech-tile" src="/Images/tech-7-vp.png" asp-append-version="true" />
                <img class="tech-tile advanced-tech-tile" src="/Images/tech-7-vp.png" asp-append-version="true" />
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="tech-background economy-tech-background">
                <img class="tech-tile" src="/Images/tech-7-vp.png" asp-append-version="true" />
                <img class="tech-tile advanced-tech-tile" src="/Images/tech-7-vp.png" asp-append-version="true" />
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="tech-background science-tech-background">
                <img class="tech-tile" src="/Images/tech-7-vp.png" asp-append-version="true" />
                <img class="tech-tile advanced-tech-tile" src="/Images/tech-7-vp.png" asp-append-version="true" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-4">
            <div class="row">
                <div class="col-8 tech-background wild-tech-background">
                    <img class="tech-tile" src="/Images/tech-7-vp.png" asp-append-version="true" />
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="row">
                <div class="col-8 tech-background wild-tech-background">
                    <img class="tech-tile" src="/Images/tech-7-vp.png" asp-append-version="true" />
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="row">
                <div class="col-8 tech-background wild-tech-background">
                    <img class="tech-tile" src="/Images/tech-7-vp.png" asp-append-version="true" />
                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="btn" onclick="@Back">Back</button>
        <button class="btn btn-primary" onclick="@Next">Next</button>
    </div>
</div>

    @functions {
    [Parameter]
    private string GameId { get; set; }

    private Game game;

    protected override void OnInit()
    {
        game = GameStateService.GetGame(new Guid(GameId));
        base.OnInit();
    }

    void Back()
    {
        game.IsTechSetUp = false;
        SetupNavigationUtility.PreviousStep(game);
    }

    void Next()
    {
        // TODO: make this betterer
        game.IsTechSetUp = true;
        SetupNavigationUtility.NextStep(game);
    }
    }
