@using Transdim.DomainModel.GameComponents;

@inject Transdim.Service.IGameComponentFactory GameComponentFactory;
@inject Transdim.Service.IGameStateService GameStateService;

    <div class="row">
        <GameComponentIcon onclick="@(() => PerformAction(powerActionComponent))" gameComponent="@powerActionComponent"></GameComponentIcon>
    </div>


@functions {
    private IGameComponent powerActionComponent;

    private Game game;

    protected override void OnInit()
    {
        powerActionComponent = GameComponentFactory.GetById(GameComponentIdentifier.PowerAction);
        game = GameStateService.Game;
    }

    private void PerformAction(IGameComponent gameComponent)
    {
        game.GameActions.Add(new GameAction
        {
            Player = game.ActivePlayer,
            Points = 0,
            LogText = $"{game.ActivePlayer.FactionIdentifier} took action {nameof(gameComponent)}"
        }) ;

        GameStateService.UpdateGame(game);
    }
}