@using Transdim.DomainModel.GameComponents;

<div class="row d-flex justify-content-center">
    <div class="col-12 action-card">
        <div class="row">
            <img class="game-component col-6-action-left" src="/Images/action-build.png" />
            <img class="game-component col-6-action-right" src="/Images/action-gaiaform.png" />
        </div>
        <div class="row">
            <img class="game-component col-12-action" src="/Images/action-upgrade.png" />
        </div>
        <div class="row">
            <img class="game-component col-6-action-left" src="/Images/action-formfederation.png" />

            <img class="game-component col-6-action-right" src="/Images/action-research.png" />
        </div>
        <div class="row">
            <GameComponent class="col-7-action-left" component="@GameComponents.ActionPowerAction"></GameComponent>
            <img class="game-component col-5-action-right" style="padding-right:15px" src="/Images/action-componentaction.png" />
        </div>
        <div class="row">
            <img class="game-component col-12-action-offset" src="/Images/action-pass.png" />
        </div>
    </div>
</div>
