@using Transdim.DomainModel.GameComponents;

@inject Blazored.Modal.Services.IModalService ModalService;
@inject Transdim.Service.IGameStateService GameStateService;
@inject Transdim.Service.IComponentActivationService ComponentActivationService;
@inject Transdim.Utilities.UiQueueExecutor UiQueueExecutor;

<div class="row">
    <GameComponentIcon onclick="@(() => PerformAction(GameComponents.ActionPowerAction))" gameComponent="@GameComponents.ActionPowerAction"></GameComponentIcon>
</div>


@functions {
    private void PerformAction(IGameComponent selectedComponent)
    {
        ComponentActivationService.Activate(selectedComponent);
        UiQueueExecutor.ExecuteQueue();
    }
}