@using Transdim.DomainModel.GameComponents;
@using Transdim.Pages.CurrentGame.ActionPanel.PowerAction.Modal;

@inject Transdim.Service.IGameStateService GameStateService;
@inject Blazored.Modal.Services.IModalService ModalService;

<div class="row">
    <GameComponentIcon onclick="@(() => PerformAction(GameComponents.ActionPowerAction))" gameComponent="@GameComponents.ActionPowerAction"></GameComponentIcon>
</div>


@functions {
    private void PerformAction(IGameComponent gameComponent)
    {
        if (gameComponent.Identifier == GameComponentIdentifier.ActionPowerAction)
        {
            ShowPowerActionModal();
        }
    }

    private void ShowPowerActionModal()
    {
        ModalService.Show("Power Action", typeof(PowerActionModal));
    }
}