@using Transdim.DomainModel.GameComponents;

@inject Transdim.Service.IGameComponentFactory GameComponentFactory;

    <div class="row">
        <GameComponentIcon onclick="@(() => PerformAction(powerActionComponent))" gameComponent="@powerActionComponent"></GameComponentIcon>
    </div>


@functions {
    [Parameter]
    Game Game { get; set; }

    private IGameComponent powerActionComponent;

    protected override void OnInit()
    {
        powerActionComponent = GameComponentFactory.GetById(GameComponentIdentifier.PowerAction);
    }

    private void PerformAction(IGameComponent gameComponent)
    {
        Game.GameActions.Add(new GameAction
        {
            LogText = $"took action {nameof(gameComponent)}"
        });
    }
}