@page "/setup/board/{GameId}"
@inject Transdim.Utilities.SetupNavigationUtility SetupNavigationUtility
@inject Transdim.Service.Controllers.Setup.Board.IBoardSetupController BoardSetupController

    <div class="container">
        <div>
            <span>Here's the board for game ID @GameId </span>
        </div>
        <div>
            <button class="btn" @onclick="@Back">Back</button>
            <button class="btn btn-primary" @onclick="@Next">Next</button>
        </div>
    </div>

@functions {
    [Parameter]
    public string GameId { get; set; }

    private Game game;

    protected override void OnInitialized()
    {
        game = BoardSetupController.GetGame(new Guid(GameId));
        base.OnInitialized();
    }


    void Back()
    {
        game.MapLink = null;
        SetupNavigationUtility.PreviousStep(game);
    }

    void Next() {
        // TODO: make this betterer
        game.MapLink = "http://gaia-project.hol.es/?s=1272&p=3&m=5&b=4";
        SetupNavigationUtility.NextStep(game);
    }
}
