@inject Transdim.Service.Controllers.CurrentGame.ScoreTracker.IPlayerScoreTrackerComponentController controller;

<span class="player-score-tracker player-score-tracker-@GetColor(player) @GetActiveClass(player)">
    <span class="player-score">@GetScore(player)</span>
</span>

@functions {
    [Parameter]
    public Player player { get; set; }

    protected override void OnInitialized() => controller.OnInitialized(StateHasChanged, player);

    public string GetColor(Player player) => controller.GetColor(player);

    public int GetScore(Player player) => controller.GetScore(player);


    public string GetActiveClass(Player player) => controller.GetActiveClass(player);
}