@inject Transdim.Service.Controllers.CurrentGame.ScoreTracker.IScoreTrackerComponentController controller;


    <span>
        <PlayerScoreTrackerComponent Player="@GetPlayerByTurnOrder(0)"></PlayerScoreTrackerComponent>
        <PlayerScoreTrackerComponent Player="@GetPlayerByTurnOrder(1)"></PlayerScoreTrackerComponent>
        @if (game.Players.Count > 2)
        {
            <PlayerScoreTrackerComponent Player="@GetPlayerByTurnOrder(2)"></PlayerScoreTrackerComponent>
        }
        @if (game.Players.Count > 3)
        {
            <PlayerScoreTrackerComponent Player="@GetPlayerByTurnOrder(3)"></PlayerScoreTrackerComponent>
        }
    </span>

@functions {
    private Game game => controller.Game;

    protected override void OnInitialized() => controller.OnInit();

    public string GetColClass() => controller.GetColClass();

    public Player GetPlayerByTurnOrder(int playerIndex) => controller.GetPlayerByTurnOrder(playerIndex);
}