@using System.Timers;

@inject Transdim.Service.IGameStateService GameStateService;

<div class="row">
    @if (game.Players.Count > 0)
    {
        <PlayerScoreTrackerComponent Game="@game" Player="@game.Players[0]"></PlayerScoreTrackerComponent>
    }
</div>
<div class="row">
    <ScoreAnimationComponent></ScoreAnimationComponent>
</div>

@functions {
    private Game game;

    protected override void OnInit()
    {
        game = GameStateService.GetGame();
    }
}