@inject Transdim.Service.Controllers.CurrentGame.ScoreTracker.IScoreTrackerComponentController controller;

<div class="row score-tracker">
    <span class="col-12">
        <PlayerScoreTrackerComponent Player="@GetPlayerByTurnOrder(0)"></PlayerScoreTrackerComponent>
        <PlayerScoreTrackerComponent Player="@GetPlayerByTurnOrder(1)"></PlayerScoreTrackerComponent>
        @if (game.Players.Count > 2)
        {
            <PlayerScoreTrackerComponent Player="@GetPlayerByTurnOrder(2)"></PlayerScoreTrackerComponent>
        }
        @if (game.Players.Count > 3)
        {
            <PlayerScoreTrackerComponent Player="@GetPlayerByTurnOrder(3)"></PlayerScoreTrackerComponent>
        }
    </span>
</div>

@functions {
    private Game game => controller.Game;

    protected override void OnInit() => controller.OnInit();

    public string GetColClass() => controller.GetColClass();

    public Player GetPlayerByTurnOrder(int playerIndex) => controller.GetPlayerByTurnOrder(playerIndex);
}