@inject Transdim.Service.Controllers.NewGame.INewGameController NewGameController

<div class="form-row">
    <div class="col-8 col-lg-3">
        <select class="form-control " @onchange="@ChangeFaction">
            @foreach (var faction in NewGameController.GetAvailableFactions())
            {
                <option value=@faction.FriendlyName selected="@(IsSelected(faction.FriendlyName))">@faction.FriendlyName</option>
            }
        </select>
    </div>
    <div class="col-4 form-check form-inline">
        <input class="form-check-input" type="checkbox" bind="@Player.IsAutoma" />
        <label class="form-check-label">
            Automa?
        </label>
    </div>
</div>

@functions{
    [Parameter]
    public Player Player { get; set; }

    [Parameter]
    public Game Game { get; set; }

    private string SelectedFriendlyName;

    protected override void OnInitialized()
    {
        SelectedFriendlyName = Player.Faction.FriendlyName;
    }

    public bool IsSelected(string friendlyName)
    {
        return SelectedFriendlyName == friendlyName;
    }

    public void ChangeFaction(ChangeEventArgs e)
    {
        var faction = Factions.AllFactions.First(f => f.FriendlyName == e.Value.ToString());

        Player.Faction = faction;
    }
}