@inject Transdim.Service.INewGameController NewGameController

<div class="form-row">
    <div class="col-8 col-lg-3">
        <select class="form-control " bind=Player.FactionIdentifier>
            @foreach (var factionIdentifier in NewGameController.GetAvailableFactions())
            {
                <option value=@factionIdentifier>@NewGameController.GetFactionByIdentifier(factionIdentifier).FriendlyName</option>
            }
        </select>
    </div>
    <div class="col-4 form-check form-inline">
        <input class="form-check-input" type="checkbox" bind="@Player.IsAutoma" />
        <label class="form-check-label">
            Automa?
        </label>
    </div>
</div>

@functions{
    [Parameter]
    private Player Player { get; set; }

    [Parameter]
    private Game Game { get; set; }
}