@inject Transdim.Service.Controllers.CurrentGame.Log.ILogController controller;

<div class="container">
    <div class="row game-log-container">
        <div class="col-12">
            <div class="container">
                <div class="row log-row log-row-oldest">@GetLogText(2)</div>
                <div class="row log-row log-row-middle">@GetLogText(1)</div>
                <div class="row log-row log-row-newest">@GetLogText(0)</div>
            </div>
        </div>
    </div>
</div>

@functions {
    protected override void OnInit() => controller.OnInit(StateHasChanged);

    public string GetLogText(int distanceFromEnd) => controller.GetLogText(distanceFromEnd);
}
