@page "/game/{GameId}"
@inject Transdim.Service.IBaseGameController BaseGameController

@using Transdim.Pages.Game.Log;
@using Transdim.Pages.Game.ScoreTracker;

    <div class="container">
        <ScoreTracker Game="@game"></ScoreTracker>
        <div class="row">
            <div class="col-12">Here's the game</div>
            <button class="btn btn-primary" onclick="@AddLogEntry">Add log entry</button>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <GameLog Game="@game"></GameLog>
        </div>
    </footer>
@functions {
    [Parameter]
    private string GameId { get; set; }

    private Game game;

    private int i = 0;

    protected override void OnInit()
    {
        game = BaseGameController.GetGame(new Guid(GameId));
        if (game.GameActions == null)
        {
            game.GameActions = new List<GameAction>();
        }

        base.OnInit();
    }

    void AddLogEntry()
    {
        game.GameActions.Add(new GameAction { LogText = $"Logged a thing {i}" });
        i++;
    }
}
