@page "/game/{GameId}"
@inject Transdim.Service.IBaseGameController BaseGameController

@using Transdim.Pages.Game.Log;
@using Transdim.Pages.Game.ScoreTracker;

    <div class="container">
        <ScoreTrackerComponent Game="@game"></ScoreTrackerComponent>
        <div class="row">
            <div class="col-12">Here's the game</div>
            <button class="btn btn-primary" onclick="@DoAnAction">Do an action</button>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <GameLog Game="@game"></GameLog>
        </div>
    </footer>
@functions {
    [Parameter]
    private string GameId { get; set; }

    private Game game;

    private int i = 0;

    protected override void OnInit()
    {
        game = BaseGameController.GetGame(new Guid(GameId));
        if (game.GameActions == null)
        {
            game.GameActions = new List<GameAction>();
        }

        base.OnInit();
    }

    void DoAnAction()
    {
        var playerIndex = i % 2;

        var player = game.Players[playerIndex];

        var random = new Random();
        int randomNumber = random.Next(1, 4);

        game.GameActions.Add(new GameAction {
            Player = player,
            Points = randomNumber,
            LogText = $"Player {player.FactionIdentifier} did a thing and got {randomNumber} points" });
        i++;
    }
}
