@inject IModalService ModalService;

@using Transdim.Pages.CurrentGame.ActionPanel.PowerAction.Modal;

<button class="btn btn-secondary" onclick="@ShowPowerActionModal">Power Action</button>

@functions {
    void ShowPowerActionModal()
    {
        ModalService.OnClose += ModalClosed;
        ModalService.Show("Power Action", typeof(PowerActionModal));
    }

    void ModalClosed(ModalResult modalResult)
    {
        ModalService.OnClose -= ModalClosed;

        if (modalResult.Cancelled)
        {
            Console.WriteLine("Modal was cancelled");
        }
        else
        {
            Console.WriteLine(modalResult.Data);
        }
    }
}