@import "colors.less";
@import "../../Pages/NewGame/new-game";
@import "../../Pages/Setup/tech-setup.less";

.button-container {
    padding-bottom: 15px;
}

.tech-tile {
    filter: drop-shadow(4px 3px 5px @drop-shadow);
    height: 80px;
}