@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
.player-setup-form .form-row {
  padding-bottom: 3px;
}
.tech-setup .tech-background {
  margin-bottom: 25px;
}
.tech-setup .terraforming-tech-background {
  background-image: linear-gradient(to right, #ffffff 0%, #9e502d 10%, #9e502d 50%, #ffffff 85%);
}
.tech-setup .navigation-tech-background {
  background-image: linear-gradient(to right, #ffffff 0%, #375573 10%, #375573 50%, #ffffff 85%);
}
.tech-setup .artificial-intelligence-tech-background {
  background-image: linear-gradient(to right, #ffffff 0%, #10772c 10%, #10772c 50%, #ffffff 85%);
}
.tech-setup .gaiaforming-tech-background {
  background-image: linear-gradient(to right, #ffffff 0%, #962b61 10%, #962b61 50%, #ffffff 85%);
}
.tech-setup .economy-tech-background {
  background-image: linear-gradient(to right, #ffffff 0%, #f27000 10%, #f27000 50%, #ffffff 85%);
}
.tech-setup .science-tech-background {
  background-image: linear-gradient(to right, #ffffff 0%, #2382c6 10%, #2382c6 50%, #ffffff 85%);
}
.tech-setup .wild-tech-background {
  background-image: linear-gradient(to right, #ffffff 0%, #8e999f 10%, #8e999f 50%, #ffffff 85%);
}
.tech-setup .tech-tile {
  margin-left: 5px;
}
.action-card {
  max-width: 280px;
}
.col-6-action-left {
  padding-left: 15px;
  max-height: 80px;
  max-width: 140px;
}
.col-6-action-right {
  padding-right: 15px;
  max-height: 80px;
  max-width: 140px;
}
.col-12-action {
  padding-left: 15px;
  padding-right: 15px;
  max-height: 122px;
}
.col-7-action-left {
  padding-left: 15px;
  max-height: 80px;
  max-width: 160px;
}
.col-5-action-right {
  padding-right: 15px;
  max-height: 80px;
  max-width: 116px;
}
.col-12-action-offset {
  max-width: 290px;
  padding-left: 35px;
  padding-right: 35px;
}
.adjustable-points-reference-component {
  max-height: 75px;
  margin-bottom: 30px;
}
.adjustable-points-points-box {
  max-height: 90px;
}
.arrow {
  font-size: xx-large;
  color: lightgrey;
  line-height: 90px;
  margin: 0px 5px;
}
.score {
  margin-bottom: 20px;
}
.game-log-container {
  border-style: hidden;
  border-radius: 15px;
  background-image: linear-gradient(180deg, #ffffff 10%, #000000 400%);
  font-family: monospace;
  padding-bottom: 5px;
  padding-top: 5px;
  max-height: 70px;
  min-height: 70px;
  margin-bottom: 5px;
}
.log-row {
  min-height: 19.2px;
  padding-left: 15px;
}
.log-row-oldest {
  opacity: 0.4;
}
.log-row-middle {
  opacity: 0.6;
}
.active {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.points-modal-overlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.8);
}
.animated-overlay {
  -webkit-animation-name: vanish;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.7s;
  /* Safari 4.0 - 8.0 */
}
.scored-component {
  filter: drop-shadow(4px 3px 5px #475159);
  z-index: 100000;
  max-height: 400px;
  max-width: 290px;
}
.animated-component {
  -webkit-animation-name: shrink;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.7s;
  /* Safari 4.0 - 8.0 */
}
.scored-points {
  filter: drop-shadow(4px 3px 5px #475159);
  z-index: 100000;
  margin-top: 10px;
  max-height: 400px;
  max-width: 290px;
}
.animated-points {
  -webkit-animation-name: shrink-points;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.7s;
  /* Safari 4.0 - 8.0 */
}
.animation-container {
  z-index: 4;
  margin-bottom: 200px;
  filter: drop-shadow(0px 0px 20px #D1A358);
}
.score-tracker {
  margin-bottom: 15px;
}
@-webkit-keyframes vanish {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@keyframes vanish {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes shrink {
  0% {
    max-height: 400px;
    max-width: 290px;
  }
  100% {
    max-height: 0px;
    max-width: 0px;
  }
}
/* Standard syntax */
@keyframes shrink {
  0% {
    max-height: 400px;
    max-width: 290px;
  }
  100% {
    max-height: 0px;
    max-width: 0px;
  }
}
@-webkit-keyframes shrink-points {
  0% {
    max-height: 80px;
  }
  12% {
    max-height: 80px;
  }
  100% {
    max-height: 0px;
  }
}
@keyframes shrink-points {
  0% {
    max-height: 80px;
  }
  12% {
    max-height: 80px;
  }
  100% {
    max-height: 0px;
  }
}
.game-component {
  filter: drop-shadow(4px 3px 5px #475159);
}
.points-image {
  max-width: 80px;
}
.transdim-modal-container {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.transdim-modal-overlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
}
.transdim-modal-active {
  display: flex;
}
.transdim-modal {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  width: 50rem;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 1.5rem;
  z-index: 4;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
.transdim-modal-transparent {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}
.transdim-modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 2rem 0;
}
.transdim-modal-title {
  margin-bottom: 0;
}
.transdim-modal-close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}
html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
.button-container {
  padding-bottom: 15px;
}
.tech-tile {
  filter: drop-shadow(4px 3px 5px #475159);
  height: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.main {
  background-image: linear-gradient(to bottom, lightslategrey, white);
}