// base colors:
@site-background: #ffffff;
@drop-shadow: #475159;
@board-background: #8e999f;

// tech colors
@terraforming-brown: #9e502d;
@navigation-gray: #375573;
@artificial-intelligence-green: #10772c;
@gaiaforming-purple: #962b61;
@economy-orange: #f27000;
@science-blue: #2382c6;
