@page "/new-game"
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@inject Transdim.Service.IGameStateService GameStateService

<h1>New Game</h1>

<button class="btn btn-primary" onclick="@StartGame">Start game</button>

@functions {


    void StartGame()
    {
        GameStateService.InitializeGame(); ;
        UriHelper.NavigateTo("/current-game");
    }
}
