.adjustable-points-reference-component {
    max-height: 75px;
    margin-bottom: 30px;
}

.adjustable-points-points-box {
    max-height: 80px;
}

.arrow {
    font-size: xx-large;
}

.score {
    margin-bottom: 30px;
}