@page "/setup/tech/{GameId}"
@inject Transdim.Utilities.SetupNavigationUtility SetupNavigationUtility
@inject Transdim.Service.IGameStateService GameStateService

<div>
    <span>And now the tech setup for game ID @GameId </span>
</div>
<div>
    <button class="btn btn-primary" onclick="@Back">Back</button>
    <button class="btn btn-primary" onclick="@Next">Next</button>
</div>

@functions {
    [Parameter]
    private string GameId { get; set; }

    private Game game;

    protected override void OnInit()
    {
        game = GameStateService.GetGame(new Guid(GameId));
        base.OnInit();
    }

    void Back()
    {
        SetupNavigationUtility.PreviousStep(game);
    }

    void Next()
    {
        // TODO: make this betterer
        game.IsTechSetUp = true;
        SetupNavigationUtility.NextStep(game);
    }
}
