@page "/game/{GameId}"
@inject Transdim.Service.Controllers.CurrentGame.IBaseGameController controller

@using Transdim.Pages.CurrentGame.Log;
@using Transdim.Pages.CurrentGame.ScoreTracker;
@using Transdim.Pages.CurrentGame.ActionPanel;

    <div class="container">
        <ScoreTrackerComponent></ScoreTrackerComponent>
        <ActionPanelComponent></ActionPanelComponent>
    </div>
    <footer class="footer">
        <div class="container">
            <GameLog></GameLog>
        </div>
    </footer>

@functions {
    [Parameter]
    private string GameId { get; set; }

    protected override void OnInit() => controller.OnInit(new Guid(GameId));
}
