@page "/game/{GameId}"
@inject Transdim.Service.Controllers.CurrentGame.IBaseGameController controller

@using Transdim.Pages.CurrentGame.Log;
@using Transdim.Pages.CurrentGame.ScoreTracker;
@using Transdim.Pages.CurrentGame.ActionPanel;

    <div class="container">
        <div class="row header-row d-flex justify-content-center">
            <span class="col-xs-7">
                <ScoreTrackerComponent></ScoreTrackerComponent>
            </span>
            <span class="col-1 float-right text-right">
                <button class="btn-secondary" style="margin-top: 2px;"><span class="oi oi-menu" aria-hidden="true"></span></button>
            </span>

        </div>
        <ActionPanelComponent></ActionPanelComponent>
    </div>
    <footer class="footer">
        <div class="container">
            <GameLog></GameLog>
        </div>
    </footer>

@functions {
    [Parameter]
    public string GameId { get; set; }

    protected override void OnInitialized() => controller.OnInit(new Guid(GameId));
}
