@inject IModalService ModalService;

<button class="btn btn-primary" onclick="@TwoTerraforms">Two Terraforms</button>
<button class="btn btn-primary" onclick="@PointsForPlanets">PointsForPlanets</button>

@functions {
    public void TwoTerraforms()
    {
        ModalService.Close(ModalResult.Ok("TwoTerraforms"));
    }

    public void PointsForPlanets()
    {
        ModalService.Close(ModalResult.Ok("PointsForPlanets"));
    }
}