@using Transdim.DomainModel.GameComponents.PowerActions;

@inject IModalService ModalService;

<button class="btn btn-primary" onclick="@TwoTerraforms">Two Terraforms</button>
<GameComponent gameComponentId="@nameof(PointsForPlanetsQicAction)" ></GameComponent>

@functions {
    public void TwoTerraforms() { }

    public void PointsForPlanets()
    {
        ModalService.Close(ModalResult.Ok("foo"));
    }
}